*{
    margin: 40px;
    padding: 1px;
    box-sizing: border-box;
}

body{
    background-color: brown;
}

h3{
    
    font-style: italic;
    font-size: 5ch;
}

h1{
    font-style: italic;
    font-size: 9ch;
}

h5{
    font-style: italic;
    font-size: 5ch;
}

p{
    font-size: 4ch;
}

a{
    font-style: italic;
    font-size: 5ch;
}